:root {
    --container-color: #fffcfc;
    --page-color: #F7ECE1;
    --page-color-dark: #cfc2b5;
    --content-color:#fffcfc;
    
    --accent: #F7CAC9;
    --link-color: #e37b80;
    
    --tab-header-1: #e9a5a4;
    --tab-header-2: #F7CAC9;
    
    --text-color: #27233A;
    --text-font: 'Roboto Slab', serif;
    
    --header-font: 'Lato', sans-serif;;
    --header-color: #27233A;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 15px;
    border-radius: 15px;
}
::-webkit-scrollbar-track-piece {
    background-color: var(--page-color-dark);
    border: var(--text-color);
    border-radius: 15px;
}
::-webkit-scrollbar-thumb {
    border: outset var(--accent);
    border-radius: 15px;
    background: var(--page-color);
}
::-webkit-scrollbar-thumb:active {
    background-color: var(--page-color-dark);
}

::selection {
    background-color: var(--accent);
    color: var(--text-color);
}

body {
    background-color: var(--page-color);
    font-family: var(--text-font);
    font-size: 15px;
    color: var(--text-color);
    overflow:hidden;
}
p {
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 15px;
    text-align: left;
}
a {
    text-decoration: none;
    color: var(--link-color);
}
h1 {
    font-family: var(--header-font);
    color: var(--header-color);
    font-size: 32px;
    width: auto;
    margin: 0 0 10px 0;
    text-align: center;
}
h2 {
    font-family: var(--header-font);
    font-size: 24px;
    color: var(--header-color);
    margin-bottom: 14px;
}
h3 {
    font-family: var(--text-font);
    font-size: 18px;
    color: var(--header-color);
    margin-top: 14px;
    margin-bottom: 0px;
}
h4 {
    font-family: var(--text-font);
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}
ul {
    margin-top: 0px;
}

/* navigation bar */
#navigation {
    background-color: linear-gradient(90deg, var(--tab-header-1) 0%, var(--tab-header-2) 100%);
    background-color: var(--tab-header-1);
    background-image: url("./img/asfalt-light.png");
    background-repeat: repeat-x;
    border: outset #d3cccc;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    margin: 0;
}
#navigation p, ul {
    margin: 0;
}
#icon {
    width: auto;
    height: 25px;
    margin: 10px;
}
#tab-container {
    width: 25%;
    top: 20px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: 700;
    letter-spacing: 1px;
}
.tab {
    background-color: var(--container-color);
    border-radius: 5px 5px 0 0;
    transform: skew(-8deg);
    display: inline-block;
    padding: 5px 10px;
    color: var(--text-color);
}
.tab:hover {
    color: var(--link-color);
}
.tab-selected {
    background-color: var(--container-color);
    color: var(--link-color);
    border-radius: 5px 5px 0 0;
    transform: skew(-8deg);
    display: inline-block;
    padding: 5px 10px;
}
nav ul {
    list-style: none;
    font-size: 13px;
    padding: 0px;
}
nav ul li {
    display: inline;
    text-decoration: none;
    text-align: center;
    font-family: var(--header-font);
}

/* search bar */
#search-bar {
    background-color: var(--container-color);
    border: outset #d3cccc;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 35px;
    margin: 0;
    display: flex;
    flex-direction: row;
}
.button {
    width: 20px;
    height: 20px;
    margin: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
}
.button img {
    width: auto;
    height: 20px;
}
.button:hover {
    background-color: var(--accent);
    border-radius: 50%;
}
#sitebar {
    background-color: var(--container-color);
    border: 1px solid #27233A;
    border-radius: 15px;
    left: 50px;
    height: 15px;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    margin-left: 5px;
}
#sitebar p {
    font-size: .75em;
    margin-top: -2px;
}
.modal-container {
    background-color: rgba(0, 0, 0, 0.3 );
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}
.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}
.modal {
    background-color: var(--container-color);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 600px;
    max-width: 100%;
    padding: 28px;
    text-align: center;
}
button {
    background-color: var(--accent);
    color: var(--text-color);
    border: outset var(--page-color-dark);
    border-radius: 15px;
    padding: 10px 28px;
    font-family: var(--text-font);
    font-size: 1em;
    color: var(--text-color);
}

/* main part of page */
#page-container {
    background-color: var(--container-color);
    border: outset #d3cccc;
    border-bottom: 0;
    border-top: 0;
    width: 100%;
    margin: 0;
    min-height: 75vh;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

/* sidebar */
#sidebar {
    background-color: var(--page-color);
    border: inset #d3cccc;
    border-radius: 15px;
    box-shadow: 5px 5px 20px #d3cccc;
    margin: 10px 10px 0 15px;
    padding: 28px;
    width: 20%;
}
#avatar {
    width: calc(95%);
    border-radius: 15px;
    border: 1px solid #27233A;
    margin: 5px;
    display: block;
}
#avatar-border {
    background: linear-gradient(90deg, var(--tab-header-1) 0%, var(--tab-header-2) 100%);
    border: 1px solid #27233A;
    border-radius: 15px;
    width: 100%;
    display:block;
}
#sidebar-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
}
.contact {
    margin-top: 10px;
    margin-left: 14px;
    margin-right: 14px;
}
.contact img {
    width: 28px;
    height: 28px;
}

/* page content */
#page {
    background-color: var(--page-color);
    background-image: url("./img/bg.png");
    border: inset #d3cccc;
    border-radius: 15px;
    margin: 10px;
    padding: 28px;
    width: 80%;
    height: 70vh;
    overflow: auto;
}

/* resume section */
.section-head {
    overflow: auto;
    margin-top: 0px;;
}
.title {
    float:left;
}
.date {
    float:right;
    text-align: right;
    margin-bottom: 0px;
}

/* projects section */
.project-row {
    margin-top: 14px;
}
.project-column {
    float: left;
    width: 25%;
    padding: 28px;
    text-align: left;
}
.project-row:after {
    content: "";
    display: table;
    clear: both;
}

/* footer */
#footer {
    background-color: var(--container-color);
    border: outset #d3cccc;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    width: 100%;
    margin: 0;
}
#footer p{
    color: var(--page-color-dark);
    text-align: center;
    padding-left: 28px;
    padding-bottom: 1%;
    margin: 0;
}