:root {
    --container-color: #fffcfc;
    --page-color: #F7ECE1;
    --page-color-dark: #cfc2b5;
    --content-color:#fffcfc;
    
    --accent: #F7CAC9;
    --link-color: #e37b80;
    
    --tab-header-1: #e9a5a4;
    --tab-header-2: #F7CAC9;
    
    --text-color: #27233A;
    --text-font: 'Roboto Slab', serif;
    
    --header-font: 'Roboto Slab', serif;
    --header-color: #27233A;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 15px;
    border-radius: 15px;
}
::-webkit-scrollbar-track-piece {
    background-color: var(--page-color-dark);
    border: var(--text-color);
    border-radius: 15px;
}
::-webkit-scrollbar-thumb {
    border: outset var(--accent);
    border-radius: 15px;
    background: var(--page-color);
}
::-webkit-scrollbar-thumb:active {
    background-color: var(--page-color-dark);
}

::selection {
  color: var(--text-color);
  background-color: var(--page-color);
}

body {
    background-color: var(--page-color);
    font-family: var(--text-font);
    font-size: 1em;
    color: var(--text-color);
    overflow:hidden;
}
a {
    text-decoration: none;
    color: var(--link-color);
}
h1 {
    font-family: var(--header-font);
    color: var(--header-color);
    font-size: 200%;
    width: auto;
    margin: 0 0 10px 0;
    text-align: center;
}
h2 {
    color: var(--header-color);
    font-size: 28px;
}

/* navigation bar */
#navigation {
    background-color: linear-gradient(90deg, var(--tab-header-1) 0%, var(--tab-header-2) 100%);
    background-color: var(--tab-header-1);
    background-image: url("./img/asfalt-light.png");
    background-repeat: repeat-x;
    border: outset #d3cccc;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    margin: 0;
}
#navigation p, ul {
    margin: 0;
}
#icon {
    width: auto;
    height: 25px;
    margin: 10px;
}
#tab-container {
    width: 25%;
    top: 20px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: 700;
    letter-spacing: 1px;
}
.tab {
    background-color: var(--container-color);
    border-radius: 5px 5px 0 0;
    transform: skew(-8deg);
    display: inline-block;
    padding: 5px 10px;
    color: var(--text-color);
}
.tab:hover {
    color: var(--link-color);
}
.tab-selected {
    background-color: var(--container-color);
    color: var(--link-color);
    border-radius: 5px 5px 0 0;
    transform: skew(-8deg);
    display: inline-block;
    padding: 5px 10px;
}
nav ul {
    list-style: none;
    font-size: .75em;
    padding: 0px;
}
nav ul li {
    display: inline;
    text-decoration: none;
    text-align: center;
    font-family: var(--header-font);
}

/* search bar */
#search-bar {
    background-color: var(--container-color);
    border: outset #d3cccc;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 35px;
    margin: 0;
    display: flex;
    flex-direction: row;
}
.button {
    width: 20px;
    height: 20px;
    margin: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
}
.button img {
    width: auto;
    height: 20px;
}
.button:hover {
    background-color: var(--accent);
    border-radius: 50%;
}
#sitebar {
    background-color: var(--container-color);
    border: 1px solid #27233A;
    border-radius: 15px;
    left: 50px;
    height: 15px;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    margin-left: 5px;
}
#sitebar p {
    font-size: .75em;
    margin-top: -2px;
}

/* main part of page */
#page-container {
    background-color: var(--container-color);
    border: outset #d3cccc;
    border-bottom: 0;
    border-top: 0;
    width: 100%;
    margin: 0;
    min-height: 75vh;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

/* sidebar */
#sidebar {
    background-color: var(--page-color);
    border: outset #d3cccc;
    border-radius: 15px;
    box-shadow: 5px 5px 20px #d3cccc;
    margin: 10px 10px 0 15px;
    padding: 28px;
    width: 20%;
}
#avatar {
    width: calc(95%);
    border-radius: 15px;
    border: 1px solid #27233A;
    margin: 5px;
    display: block;
}
#avatar-border {
    background: linear-gradient(90deg, var(--tab-header-1) 0%, var(--tab-header-2) 100%);
    border: 1px solid #27233A;
    border-radius: 15px;
    width: 100%;
    display:block;
}
#sidebar-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
}
.contact {
    width: 28px;
    height: 28px;
    margin: 10px;
    margin-left: 14px;
    margin-right: 14px;
}
.contact img {
    width: 28px;
    height: 28px;
}
.contact:hover {
    background-color: var(--accent);
    border-radius: 50%;
}

/* page content */
#page {
    background-color: var(--page-color);
    background-image: url("./img/bg.png");
    border: inset #d3cccc;
    border-radius: 15px;
    margin: 10px;
    padding: 28px;
    width: 80%;
    height: 70vh;
    overflow: auto;
}

.content {

}

/* footer */
#footer {
    background-color: var(--container-color);
    border: outset #d3cccc;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    width: 100%;
    margin: 0;
    padding-bottom: 50px;
}