body {
  background-color: #f7cac9;
}
.header, .footer {
  background-color: #92a8d1;
  color: #fff;
  text-align: center;
  width: 100%;
  padding:15px;
}
h4 {
  color: #fff;
  text-align: center;
  background: #92a8d1;
}
a {
  color: #fff;
}
img {
  background: #92a8d1;
  float: right;
  max-height: 228px;
  margin: 0 0 10px 10px;
}
p {
  background: #92a8d1;
  color: #fff;
  padding: 10px;
  margin: 5px;
}
.main {
  width: 75%;
  float: left;
  margin: 5px;
}
.side {
 float: right;
  width: 25%;
  margin: 5px;
}
