body {
  background-color: #f7cac9;
}
.header, .footer {
  background-color: #92a8d1;
  color: #fff;
  text-align: center;
  width: 100%;
  padding:15px;
}
p {
  color: #ffffff;
  border: 15px;
  margin: 5px;
  background: #92a8d1;
  font-size: 14px;
}
a {
  color: #fff;
}
img {
  border: 5px 
  padding: 20px;
  margin: 5px;
  background: #92a8d1;
}
.column {
  float: left;
  padding: 15px;
}
.flex-container {
  display: flex;
  display: inline-flex;
  width: 75%;
  height: relative;
  align-container: space-around;
  flex-wrap: nowrap;
}
.flex-item {
  width: 100%;
}
table {
  right: 0;
  width: 25%;
  color: #fff;
}
td {
  height: 50px;
  text-align: center;
  padding: 10;
}
th {
  padding: 10;
  text-align: center;
  image-align: center;
}
tr:nth-child(even){background-color: #92a8d1}
li a {
  display: block;
  width: 25%;
}
