body {
  background-color: #f7cac9;
  background-image: url(http://image.ibb.co/b0TeZa/pink.jpg};
}
.header {
  background-color: #92a8d1;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 50px;
}
p {
  background: #92a8d1;
  color: #fff;
  padding: 10px;
  margin: 5px;
}
a {
  color: #fff;
}
img {
  height: 228px;
  background: #92a8d1;
}
.main {
  width: 71%;
  float: left;
  margin: 5px;
}
.side {
 float: right;
  width: 26%;
  margin: 5px;
}
