.about_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
}

.about_img {
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
}

.about_info {
    
}