<!DOCTYPE html>

<html xml:lang="en" lang="en">

<head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Lilita+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="screen.css">
    <link rel="icon" type="image/png" href="./img/favicon.png">

    <title>Tania Soutonglang</title>
</head>

<body>

<div id="page">

    <!-------------------- NAV -------------------->

    <header>
        <h1><a href="./index.html">Tania Soutonglang</a></h1>
        <nav>
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./resume.html">Resume</a></li>
                <li><a href="./portfolio.html" id="selected">Portfolio</a></li>
            </ul>
        </nav>
    </header>

    <section id="art-bio">
        <p>I've been making and posting my art under the name SpaceBunny.exe since the summer of 2018, although I've been creating art since I was young. I'm a self taught digital illustrator and I'm currently learning how to create visual novel games with Ren'Py and how to animate. Most of my work has been fan art based off of shows I've watched and games I've played, each made with the intent of letting my emotions and thoughts out.</p>
        <p>I joined Manga Art Studio in April 2020. Since then I've been consistently creating art every week and have seen improvement both in technique and style between when I first started to where I am today. Currently we are learning how to clean and color animation frames to create an original video animation.</p> 
        <p>I hope you enjoy my art!</p>
    </section>

    <section id="portfolio">

        <!---------- BARBATOS ---------->
        <div class="art">
            <img src="./img/barbatos.png" alt="Stylized illustration of Barbatos from the video game 'Obey Me'" />
            <div class="overlay">
                <div class="art-text"><h2>80s Barbatos</h2><h3>November 2020</h3><h4>Digital Illustration</h4><br><a href="https://www.instagram.com/p/CHqj1TLhbiY/" target="_blank">Instagram</a></div>
            </div>
        </div>
        
        <!---------- DAISHOU ---------->
        <div class="art">
            <img src="./img/daishou.png" alt="Stylized illustration of Daishou Suguru from the anime 'Haikyuu!!'. His head is resting on his right head as he stares at the viewer." />
            <div class="overlay">
                <div class="art-text"><h2>Pretty Boy Daishou</h2><h3>November 2020</h3><h4>Digital Illustration</h4><br><a href="https://www.instagram.com/p/CHYfl2Fhkrv/" target="_blank">Instagram</a></div>
            </div>
        </div>

        <!---------- MYOSOTIS SCORPIOIDES ---------->
        <div class="art">
            <img src="./img/myosotis-scorpiodes.png" alt="Illustrated pile of yellow chrysanthemum petals in a darkened room, the title of the comic 'Myosotis Scorpioides' is in a bubble with the warnings 'hanahaki! au, blood, death' beneath it. Also yes, I did spell my own comic's name wrong and published it as is."/>
            <div class="overlay">
                <div class="art-text"><h2>Myosotis Scorpioides</h2><h3>October 2020</h3><h4>Digital Illustration</h4><br><a href="https://www.instagram.com/p/CHN-mgqBq4f/" target="_blank">Instagram</a></div>
            </div>
        </div>

        <!---------- SOLOMON ---------->
        <div class="art">
            <img src="./img/solomonb.png" alt="Stylized illustration of Solomon from the game Obey Me. He is facing the right with his right hand in his pant pocket and his left hand grabbing the edge of his coat."/>
            <div class="overlay">
                <div class="art-text"><h2>Solomon, Resident Shady Boy</h2><h3>October 2020</h3><h4>Digital Illustration</h4></div>
            </div>
        </div>

        <!---------- SUGAWARA ---------->
        <div class="art">
            <img src="./img/sugawara-mafia.png" alt="Stylized illustration of Sugawra Koushi from the anime 'Haikyuu!!' His left thumb is wiping his lip and he stares at the viewer." />
            <div class="overlay">
                <div class="art-text"><h2>Demon Mafia Sugawara</h2><h3>September 2020</h3><h4>Digital Illustration</h4><br><a href="https://www.instagram.com/p/CFAVKdABzG8/" target="_blank">Instagram</a></div>
            </div>
        </div>

        <!---------- YOUR GRAVE ---------->
        <div class="art">
            <img src="./img/your-grave.jpg" alt="Image of a dark cemetery." />
            <div class="overlay">
                <div class="art-text"><h2>Your Grave</h2><h3>August 2020</h3><h4>Riddle Game</h4><a href="https://spacebunnyexe.itch.io/your-grave" target="_blank">Download</a></div>
            </div>
        </div>

        <!---------- 90S WANNABE ---------->
        <div class="art">
            <img src="./img/retro-girl.png" alt="An illustration of a girl in a beret, yellow-tinted glasses, and 90's inspired clothes sitting with her knees up." />
            <div class="overlay">
                <div class="art-text"><h2>90s Wannabe</h2><h3>July 2018</h3><h4>Digital Illustration</h4><br><a href="https://www.instagram.com/p/BlV4FjhBNs0/" target="_blank">Instagram</a></div>
            </div>
        </div>
        
        <!---------- HEALING ---------->
        <div class="art">
            <img src="./img/healing.jpg" alt="Acrylic portrait of me laying on my side, resting with my earbuds in." />
            <div class="overlay">
                <div class="art-text"><h2>Healing</h2><h3>January 2018</h3><h4>Acrylic on Canvas, Earbuds</h4></div>
            </div>
        </div>

        <!---------- NEW ---------->
        <div class="art">
            <img src="./img/new.png" alt="An stylized illustration of Yves and Vivi from the K-Pop group Loona. Yves is sitting on the left and stopped tying her roller skates to look at Vivi who is sitting on the right and is concentrating on tying her roller skates." />
            <div class="overlay">
                <div class="art-text"><h2>New</h2><h3>January 2018</h3><h4>Digital Illustration</h4><br><a href="https://www.instagram.com/p/BlEhClshGZE/" target="_blank">Instagram</a></div>
            </div>
        </div>

    </section>

    <section id="portfolio-links">
        <h2>Contact</h2>
        <p><a target="_blank" href="mailto:spacebunnyexe@gmail.com">Email: spacebunnyexe@gmail.com</a></p>
        
        <div id="sns">
            <p>Find me on social media under SpaceBunny.exe</p>
            <a target="_blank" href="https://instagram.com/spacebunny.exe"><img src="./img/instagram.png" alt="Black and white outline of the Instagram logo"/></a>
            <a target="_blank" href="https://spacebunnyexe.tumblr.com"><img src="./img/tumblr.png" alt="Black and white outline of the Tumblr logo"/></a>
            <a target="_blank" href="https://twitter.com/spacebunnyexe"><img src="./img/twitter.png" alt="Black and white outline of the Twitter logo"/></a>
        </div>

        <p>My commissions are currently <a target="_blank" href="https://spacebunnyexe.carrd.co/#commissions"><b>open</b></a></p>
    </section>

    <section id="footer">
        © 2021 Tania Soutonglang
    </section>
</div>

</body>
</html>
